[2020-10-06 09:26] Tlazypanda opened #2 "Improve docs: Add project tech stack"
# Feature Request

### Describe your problem
Currently the project tech stack is not expressed. Adding the project tech stack can help the contributors decide if they can contribute to the repo or not.

[2020-10-06 09:32] Tlazypanda opened #3 "Design framework: Set up a simple boilerplate with the design library of your choice"
# Feature Request

### Describe your problem
Set up the project structure with the design library (bulma)

[2020-10-07 16:03] #2 closed

[2020-10-07 16:14] garvitchittora commented on #3
@Tlazypanda can I do this one?

[2020-10-07 16:25] Tlazypanda commented on #3
@garvitchittora yes go ahead 🎉

[2020-10-07 16:57] IC1101Virgo opened #7 "Add Your Name and suggestions"
### Hello Contributor! 👋
We all know sharing is caring. This issue is meant for the same purpose. 🌷
We invite all the techies 😎 , enthusiast 😸 , and newbies 🤩 to share your resources. We are a big family here and every help counts 😉
This issue is meant for all whether it's your first pull request 🎊  or you are a frequent visitor 💃

These resources can be anything:

- A good book 📖
- A blog/s ✍️
-

[2020-10-08 03:56] garvitchittora commented on #3
@Tlazypanda please review my PR.

[2020-10-08 07:21] #3 closed

[2020-10-08 07:25] Tlazypanda opened #10 "Modify Navbar section"
# Feature Request
Modify the navbar section and add the required links (home, projects, team, contribute, contact). Also replace the bulma logo image with elevate-lab logo.

[2020-10-08 07:27] Tlazypanda opened #11 "Add landing page section"
# Feature Request

### Describe your problem
Add a landing page section with a flat design illustration and some content about Elevate Lab.

[2020-10-08 07:29] Tlazypanda opened #12 "Add docs on how to set up project"
# Feature Request

### Describe your problem
Add docs on how to fork, clone and start the project. You may also add docs on how to setup Gh pages link.

[2020-10-08 07:31] Tlazypanda opened #13 "Add favicon logo for website"
# Feature Request

### Describe your problem
Add elevate-lab logo as favicon for website.

[2020-10-08 07:32] garvitchittora commented on #11
@Tlazypanda ma'am don't you think we should first make the design of the website complete then we should start the coding part?

[2020-10-08 07:35] 2802harsh commented on #10
I would like to work on this

[2020-10-08 07:58] kashc11 commented on #13
Hi! Can I contribute to this?

[2020-10-08 07:59] Tlazypanda commented on #10
@2802harsh please go ahead :tada:

[2020-10-08 07:59] kashc11 commented on #10
Hi! I'd like to work on this too!

[2020-10-08 08:01] Tlazypanda commented on #11
Hey @garvitchittora we may do that but if we are letting the contributors develop it completely it might not be possible to make a design pattern that will be closely followed by contributors :sweat_smile:

[2020-10-08 08:08] garvitchittora commented on #11
@Tlazypanda ok ma'am then can I work on it :D.

[2020-10-08 08:09] garvitchittora commented on #13
@Tlazypanda can I work on this?

[2020-10-08 08:13] uglyprincess commented on #12
Ma'am, may I work on this issue?

[2020-10-08 08:15] hardikbajaj commented on #13
The new logo, that Himanshu created??

[2020-10-08 08:16] Tlazypanda commented on #12
@uglyprincess yes go ahead 🎉

[2020-10-08 08:17] Tlazypanda commented on #11
@garvitchittora  yesss!! 💯

[2020-10-08 08:20] rush-tea commented on #10
A

Navbar toggler is not working. You can look for that also.

[2020-10-08 08:26] 2802harsh commented on #10
@rush-tea Yeah, I have noted that. Working on it.

[2020-10-08 08:31] Tlazypanda commented on #10
@rush-tea @2802harsh Good team work 🤜  🤛

[2020-10-08 09:08] uglyprincess commented on #12
PR sent! Please review the file and suggest any changes.

[2020-10-08 09:21] Elemento24 commented on #11
Do we have to think of a design and Implement it, or is there a pre-defined design which we have to code up?

[2020-10-08 12:41] 2802harsh commented on #10
@Tlazypanda ma'am Please review the PR [here](https://github.com/Elevate-Lab/elevate-lab-website/pull/22)

[2020-10-08 12:44] #10 closed

[2020-10-08 13:40] rebekris commented on #11
Hi, @Elemento24 @Tlazypanda I can help with an interface design, if you allow me :smiley:

[2020-10-08 14:17] Tlazypanda commented on #13
Hey @kashc11 please go ahead :tada: You can find the relevant files in images/logo subdir :sweat_smile:

[2020-10-08 14:42] Tlazypanda commented on #12
Closed via #15

[2020-10-08 14:42] #12 closed

[2020-10-08 14:48] Tlazypanda opened #26 "Design team section and cards"
# Feature Request

### Describe your problem
Design the team section and cards. The team section should have a heading "Team" followed by the card. For now, you may create a single card. Also don't forget to link the Team section to the navbar Team link.

[2020-10-08 15:39] garvitchittora commented on #26
@Tlazypanda can I do this? :P

[2020-10-08 17:08] Tlazypanda commented on #26
@garvitchittora Go ahead :tada:  also looping in @stygian-96

[2020-10-08 17:11] #11 closed

[2020-10-08 17:26] Tlazypanda commented on #13
Closed via #27

[2020-10-08 17:26] #13 closed

[2020-10-08 17:36] Tlazypanda opened #30 "Design project section"
# Feature Request

### Describe your problem
Design the project section and cards. The project section should have a heading "Project" followed by the list of projects. For now, you may create a single entry. Also don't forget to link the Project section to the navbar Project link.

Make sure that the section makes use of Bulma elements.

[2020-10-08 17:45] riyabhatia26 commented on #30
Could you please assign it to me?

[2020-10-08 18:29] Tlazypanda commented on #30
Hey @riyabhatia26 go ahead 🎉 also looping in @garvitchittora and @stygian-96 to edit the issue description to provide Riya with more information on how to approach this issue. Thanks!

[2020-10-09 03:43] garvitchittora commented on #26
@stygian-96 @Tlazypanda plz review 😨

[2020-10-09 05:11] Tlazypanda opened #33 "Fetch team card data from json"
# Feature Request

### Describe your problem

Currently we are adding the cards by repetition Creating a json file and js script to extract data from there and looping it will make the process much simpler.

[2020-10-09 05:25] garvitchittora commented on #33
@Tlazypanda can I do it :)

[2020-10-09 05:30] #26 closed

[2020-10-09 05:30] Tlazypanda commented on #33
@garvitchittora go ahead 🎉

[2020-10-09 07:41] stygian-96 commented on #30
@riyabhatia26 in projects page make a card using dummy image, project title, project description and project owner details. Use bulma to design cards.
Also don't forget to put the heading 'Projects' in the page and then put the dummy cards.
In case of any problem or difficulty doing things add a comment :)

[2020-10-09 10:06] garvitchittora commented on #30
Hey, @riyabhatia26 need any help?

[2020-10-09 10:06] #33 closed

[2020-10-09 11:45] Tlazypanda opened #38 "Add How To Contribute.md to Readme.md"
# Feature Request

### Describe your problem
Add a link to "How To Contribute.md' to readme.md under the heading "How to Contribute".

[2020-10-09 11:47] Tlazypanda opened #39 "Add link to "Issue_Resource_Template.md' to readme.md"
# Feature Request

### Describe your problem
Add a link to "Issue_Resource_Template.md' to readme.md under the heading "Resources to get started".

[2020-10-09 11:55] l3g3ndf4i541 commented on #39
Can I work on this? Please assign.

[2020-10-09 11:56] garvitchittora commented on #38
@Tlazypanda can I do this.

[2020-10-09 11:56] Tlazypanda opened #40 "Add your details in assets/data/data.json"
# Feature Request

### Describe your problem
Add your details under contributors array in assets/data/data.json. This will then render as a card displaying your details.

[2020-10-09 12:04] uglyprincess commented on #38
May I do this task? @Tlazypanda

[2020-10-09 12:16] Tlazypanda opened #44 "Add contact us section Part (1/2)"
# Feature Request

### Describe your problem
Add contact us section with a heading "Contact us" followed by a form with the Inputs "Name", "Email", "Message".  The form doesn't need to be functional right now and will be taken up in the next part.

Please make sure that you use Bulma elements and classes for this.

[2020-10-09 12:18] Tlazypanda opened #45 "Add contact us section Part (2/2)"
# Feature Request

### Describe your problem
This issue addresses making the Form functional and adding a script for allowing the form submit button to send the details of the form as an email to a recipient.

[2020-10-09 13:03] stygian-96 commented on #45
Can I work on this ?

[2020-10-09 13:20] deepakDOTexe commented on #40
I want to contribute on this issue @Tlazypanda

[2020-10-09 13:21] Tlazypanda commented on #40
@deepakDOTexe Go ahead :)

[2020-10-09 14:21] Ayush-Baranwal commented on #44
Can I contribute to this ?

[2020-10-09 14:30] garvitchittora opened #52 "Team Card icons not visible"
# Bug Report

### Issue Summary

 In team card icons of GitHub, LinkedIn and Twitter are not visible fix this bug 🐛  .

![Screenshot (351)](https://user-images.githubusercontent.com/54021348/95595012-517e2f00-0a69-11eb-965c-a56ba585916c.png)

### Expected Behavior

![Screenshot (352)](https://user-images.githubusercontent.com/54021348/95595368-b46fc600-0a69-11eb-9b44-7b329d78de6c.png)

### Steps

[2020-10-09 14:34] Priyansh-09 commented on #44
@Tlazypanda I would like to contribute on this

[2020-10-09 14:35] Priyansh-09 commented on #45
@Tlazypanda Can I work on this issue ?

[2020-10-09 15:16] sandy9808 commented on #52
Can i ?😄

[2020-10-09 15:26] garvitchittora commented on #52
Hey @sandy9808 go ahead 🎉

[2020-10-09 18:01] garvitchittora commented on #30
@Tlazypanda since @riyabhatia26  is not responding can I work on this?

[2020-10-09 18:53] jcombs0929 commented on #39
I'd like to help if issue is still available.

[2020-10-10 05:01] #52 closed

[2020-10-10 05:02] Tlazypanda commented on #44
Hey @Ayush-Baranwal go ahead 🎉

[2020-10-10 05:04] Tlazypanda commented on #39
Hey @l3g3ndf4i541 you have opened the pr in your fork instead of the main repository 😅

[2020-10-10 05:06] Tlazypanda commented on #39
Hey @jcombs0929 can I suggest working on #40  since it's for everyone?

[2020-10-10 05:08] #38 closed

[2020-10-10 05:29] Tlazypanda commented on #45
Hey @stygian-96 go ahead 🎉 @Priyansh-09 let me find another issue for you

[2020-10-10 05:30] Tlazypanda commented on #30
Yes @garvitchittora go ahead 💯

[2020-10-10 07:46] garvitchittora commented on #30
@Tlazypanda this will work?

![Screenshot (358)](https://user-images.githubusercontent.com/54021348/95649309-871f2880-0afa-11eb-95aa-7b0289e56cfc.png)

[2020-10-10 08:38] Tlazypanda commented on #30
Hey @garvitchittora the purple color text might be a bit difficult to read 😅

[2020-10-10 08:45] Tlazypanda opened #70 "Add "license" badge to readme"
# Feature Request

### Describe your problem
Add the license as a badge to readme.

[2020-10-10 08:46] Tlazypanda opened #71 "Add site gh pages link to readme"
# Feature Request

### Describe your problem
Add the website's gh pages link to readme.

[2020-10-10 08:48] Tlazypanda opened #72 "Change Issue_Resource_Template.txt file to markdown"
# Feature Request

### Describe your problem
Currently the issue_resourcd_template is a text file, update it into markdown file or in a .md format.

[2020-10-10 08:50] garvitchittora commented on #30
@Tlazypanda ok ma'am noted, except that?

[2020-10-10 09:11] hardikbajaj opened #73 "Add the Link to github pages!!!"
# Adding Github Pages link

### Describe your problem
Add the link to the github pages of this website on README.md and to the site description so that we all can see the latest developments made, and also finding bugs would be easy...

### Describe the solution you'd like

The site is already connected to github pages, only the link is to be added

### Additional context

Nd sorry idk how to add

[2020-10-10 09:13] #73 closed

[2020-10-10 09:16] hardikbajaj commented on #71
I would like to contribute to this

[2020-10-10 09:19] Sumit-Sahu commented on #72
Can I work on this? Please assign.

[2020-10-10 09:27] syauqy commented on #70
Can I work on this?
What kind of license do you want? Creative commons? MIT?

[2020-10-10 09:51] Tlazypanda commented on #71
Hey @hardikbajaj go ahead :tada:

[2020-10-10 09:52] Tlazypanda commented on #70
Hey @syauqy Go ahead :tada: we are using the MIT license https://github.com/Elevate-Lab/elevate-lab-website/blob/main/LICENSE

[2020-10-10 09:53] Tlazypanda commented on #72
Hey @Sumit-Sahu go ahead :tada:

[2020-10-10 10:06] Tlazypanda commented on #30
Hey @garvitchittora rest all looks good I am assuming the two squares at the bottom are for social links 😅

[2020-10-10 10:14] Junior-Adadie commented on #44
Hey, I would like to contribute on this

[2020-10-10 12:27] Jyotika999 commented on #72
@Tlazypanda Mam , Can i work on it?

[2020-10-10 12:55] #30 closed

[2020-10-10 13:33] #71 closed

[2020-10-10 13:55] l3g3ndf4i541 commented on #39
@Tlazypanda My bad, just a beginner. Corrected it, but maybe it's too late. Could you not merge and just add hacktoberfest label for it to count? since it's changed to readme from another issue.

[2020-10-10 14:30] Sumit-Sahu commented on #72
I was working on it. btw  you make pr.

[2020-10-10 14:41] Tlazypanda commented on #72
Hey @Sumit-Sahu please go ahead and make the pr 😅 @Jyotika999 let me try to find another issue for you since it was already assigned. Thank you both! ✌️

[2020-10-10 14:47] deepakDOTexe opened #87 "NavBar: Hover Effect changes background color of inactive items"
# Bug Report

### Issue Summary

For the inactive navbar menu items, the background color changes after clicking the item.

### Expected Behavior

After clicking on an inactive item and hovering over another item, the background color of the clicked item should not change, only the text colour should change.

### Observed Behavior

I found that after hovering over other items, the clicked item's b

[2020-10-10 14:58] garvitchittora commented on #87
@deepakDOTexe can I work on this?

[2020-10-10 15:02] tejma17 opened #88 "NavBar: Make the navigation bar fixed while scrolling"

[2020-10-10 15:06] deepakDOTexe opened #89 "Add reference links to the Elevate-Lab logo and text"
# Feature Request

### Describe your problem

After clicking Elevate-Lab Logo or Text, I just stay there. That is there's no reference link.

### Describe the solution you'd like

I would want to navigate back to the landing page when I click the Elevate-Lab Text and to the github organization page when I click on the logo. A better user experience imo.

### Additional context

Many websites have

[2020-10-10 15:07] garvitchittora commented on #89
@deepakDOTexe can I?

[2020-10-10 15:10] Priyansh-09 commented on #87
Can I work on this ? @deepakDOTexe

[2020-10-10 15:11] Priyansh-09 commented on #88
@tejma17 can I work on this ?

[2020-10-10 15:11] Priyansh-09 commented on #89
@deepakDOTexe can I work on this ??

[2020-10-10 15:13] deepakDOTexe commented on #87
@garvitchittora was the first one to comment so this issue is assigned to him.
@Priyansh-09 you can look for other issues or check back later and if the issue is not resolved you can work on it.

[2020-10-10 15:14] hardikbajaj opened #90 "Nav Bar: Not responding on pages other than Home page on Mobile view"
# Bug Report

### Issue Summary

The NavBar is responding only in the home page, (not responding on teams page)on the mobile view of website. It may create more problems when number of pages will increase.
Also NavBar on home page(mobile view) is also not looking nice.

### Expected Behavior

When we click on nav bar icon, it will collapse.

### Observed Behavior

The NavBar didn't responded

###

[2020-10-10 15:14] deepakDOTexe commented on #89
@Priyansh-09 go ahead with this one @garvitchittora has already an issue assigned to him.

[2020-10-10 15:33] tejma17 opened #93 "Overlapping cards in Project page on mobile view"
Fix the alignment of **Project** page on the mobile view.

![issue_mobile_view](https://user-images.githubusercontent.com/61201718/95659002-fe28e100-0b3b-11eb-9b6e-3b6852ed4663.png)

[2020-10-10 15:34] tejma17 commented on #88
Sure @Priyansh-09 go ahead.

[2020-10-10 16:01] garvitchittora commented on #93
@tejma17 can I work on this?

[2020-10-10 17:34] tejma17 commented on #93
@garvitchittora go ahead

[2020-10-10 18:03] Sumit-Sahu commented on #72
#96

[2020-10-10 21:08] geeks5551 opened #99 "Navbar:Make It More Responsive"
make navbar more responsive by adding  animated hovering effect and transitions

[2020-10-10 22:07] c99SRS commented on #88
Hi @Tlazypanda , is this issue still open?

[2020-10-10 22:13] c99SRS commented on #44
Hi @Tlazypanda , Is this still available to work on?

[2020-10-11 04:00] jcombs0929 commented on #40
I would like to work on this!

[2020-10-11 04:27] garvitchittora commented on #87
@deepakDOTexe plz merge my PR.

[2020-10-11 04:27] garvitchittora commented on #93
@tejma17 plz review my PR.

[2020-10-11 04:42] garvitchittora opened #102 "Design Event section and cards"
# Feature Request

### Describe your problem

Design the event section and cards. The event section should have the heading "Event".

[2020-10-11 04:42] garvitchittora commented on #102
I will work on it :)

[2020-10-11 05:00] Priyansh-09 commented on #99
This issue is the combination of issue assigned to me (fix navbar scrolling) and issue assigned to @garvitchittora (adding hover effects on navbar items). So this issue that you have opened is conflicting those two issues that was assigned to us before.

[2020-10-11 05:51] BLACK-PEARLL commented on #99
i want to work on this :)

[2020-10-11 05:54] garvitchittora commented on #102
@Tlazypanda ma'am this will work??

![Elevate-Lab-Website (3)](https://user-images.githubusercontent.com/54021348/95671394-366c0600-0bb4-11eb-9e80-5d1f6ff43f13.png)

[2020-10-11 06:00] Priyansh-09 commented on #89
@Tlazypanda @deepakDOTexe I have created a pull request #103 to solve this issue. Please review it.

[2020-10-11 06:02] Elemento24 commented on #90
I would like to work on this Issue. Can I ?

[2020-10-11 06:02] Priyansh-09 commented on #88
@tejma17 I have created a pull request #103 to solve issues #88 and #89 . Please review it.

[2020-10-11 06:43] #72 closed

[2020-10-11 06:52] #87 closed

[2020-10-11 06:53] #93 closed

[2020-10-11 07:01] Tlazypanda commented on #70
Closed via #75

[2020-10-11 07:01] #70 closed

[2020-10-11 07:03] Tlazypanda commented on #102
Hey @garvitchittora can you please explain how the past events section will stack up when we have more entries I am not sure I completely follow :sweat_smile:

[2020-10-11 07:09] Tlazypanda opened #110 "Remove the color styling (red yellow and green in text) in home page"
# Feature Request

### Describe your problem
Currently the website home page has a some words with the red,yellow and green text which represents a google color scheme which is not relevant to Elevate Lab and can be removed.
https://elevate-lab.github.io/elevate-lab-website/index.html

[2020-10-11 07:16] Tlazypanda opened #111 "Remove the color styling (red yellow and green in text) in team page"
# Feature Request

### Describe your problem
Currently the website team page has some words with the red,yellow and green text which represents a google color scheme which is not relevant to Elevate Lab and can be removed.
https://elevate-lab.github.io/elevate-lab-website/assets/html/team.html

[2020-10-11 07:19] Tlazypanda opened #112 "Add about us section in footer"
# Feature Request

### Describe your problem
Currently the footer only has social links but adding a small about us section in the footer can improve the site.

[2020-10-11 07:29] Tlazypanda opened #113 "Toggle the site from dark to light theme (Part 1) Home Page"
# Feature Request

### Describe your problem
Create a light themed equivalent of the current home page by creating the css rules for light theme.
Refer this: -  https://gosink.in/javascript-css-toggle-dark-light-theme-based-on-your-users-preferred-scheme/

[2020-10-11 07:30] Tlazypanda opened #114 "Toggle the site from dark to light theme (Part 1) Team Page"
# Feature Request

### Describe your problem

Create a light themed equivalent of the current team page by creating the css rules for light theme.
Refer this: - https://gosink.in/javascript-css-toggle-dark-light-theme-based-on-your-users-preferred-scheme/

[2020-10-11 07:32] Tlazypanda opened #115 "Toggle the site from dark to light theme (Part 1) Project Page"
# Feature Request

### Describe your problem
Create a light themed equivalent of the current project page by creating the css rules for light theme.
Refer this: - https://gosink.in/javascript-css-toggle-dark-light-theme-based-on-your-users-preferred-scheme/

[2020-10-11 07:34] Tlazypanda opened #116 "Remove the color styling (red yellow and green in text) in project page"
# Feature Request

### Describe your problem
Currently the website project page has some words with the red,yellow and green text which represents a google color scheme which is not relevant to Elevate Lab and can be removed.
https://elevate-lab.github.io/elevate-lab-website/assets/html/project.html

[2020-10-11 07:39] Shreesh90 commented on #116
@Tlazypanda Can I take this issue?

[2020-10-11 07:40] garvitchittora commented on #102
@Tlazypanda 😅

![Desktop - 1 (1)](https://user-images.githubusercontent.com/54021348/95673054-024c1180-0bc3-11eb-9828-41ef2f3dceb5.png)

[2020-10-11 07:42] IC1101Virgo commented on #116
@Tlazypanda Ok ma'am ! working on it 😸

[2020-10-11 07:47] Tlazypanda commented on #115
Assigned to @hardikbajaj

[2020-10-11 07:47] Shreesh90 commented on #111
@Tlazypanda Yes mam working on it :)

[2020-10-11 07:51] Shreesh90 commented on #111
@Tlazypanda Is this color for the text okay?
![Screenshot 2020-10-11 132204](https://user-images.githubusercontent.com/6941016/95673239-91a5f480-0bc4-11eb-81ed-aa926fab7d09.jpg)

[2020-10-11 07:55] garvitchittora opened #117 "Fetch project card data from json"
# Feature Request

### Describe your problem

Fetch project card data from the JSON file like team page.
[team page](https://elevate-lab.github.io/elevate-lab-website/assets/html/team.html)

[2020-10-11 07:58] garvitchittora opened #118 "Add footer in team page and project page"
# Feature Request
Add footer in team page and project page.

[2020-10-11 08:06] geeks5551 commented on #118
Hey @garvitchittora can i work on this?

[2020-10-11 08:08] Tlazypanda commented on #99
Hey @BLACK-PEARLL actually @geeks5551 has already opened an issue for this, I suggest you take up #40 which is open for all :sweat_smile:

[2020-10-11 08:09] Priyansh-09 commented on #112
Is this fine @Tlazypanda ??

![Screenshot 2020-10-11 133508](https://user-images.githubusercontent.com/55129015/95673534-e480ab80-0bc6-11eb-877f-491f444be352.png)

If yes, merge my earlier pull request #109 , I have pushed these changes also in that PR.

[2020-10-11 08:34] chetas411 commented on #114
@Tlazypanda  Can I also try this if the issue is open for all ?

[2020-10-11 09:09] Thilagavathi1 commented on #117
Hi @garvitchittora @Tlazypanda
Shall i work on this issue?Could you assign this issue to me?

[2020-10-11 09:48] Shreesh90 opened #122 "Change the 'LAB' in the site name to sentence-case"
# Feature Request

### Describe your problem

The name of the site at top in team and project page should be 'Elevate Lab' (as visible in the home page) instead of 'Elevate LAB'.
Home page: https://elevate-lab.github.io/elevate-lab-website/
Team page: https://elevate-lab.github.io/elevate-lab-website/assets/html/team.html
Project page: https://elevate-lab.github.io/elevate-lab-website/assets/html/

[2020-10-11 09:56] Priyansh-09 commented on #122
Already done that in my PR #109

[2020-10-11 10:03] #122 closed

[2020-10-11 10:48] garvitchittora commented on #117
@Thilagavathi1 sure, go ahead.

[2020-10-11 10:48] garvitchittora commented on #118
@geeks5551 sure

[2020-10-11 14:59] fawad60 commented on #116
can I create PR?

[2020-10-11 17:42] garvitchittora commented on #102
@Tlazypanda ma'am this is fine?

[2020-10-12 05:11] #111 closed

[2020-10-12 05:48] crazy548 commented on #40
can I work on this!!

[2020-10-12 05:57] deepakDOTexe commented on #40
@crazy548 This is open to everyone. Go ahead but don't mention Fixes #issuenumber in the PR so that issue may not get closed after we merge your PR.

[2020-10-12 06:04] #116 closed

[2020-10-12 06:28] deepakDOTexe commented on #102
@garvitchittora lgtm except the EVENTS rgb colouring . Please change it.

[2020-10-12 06:30] deepakDOTexe commented on #90
@Elemento24 yes you can work on this.

[2020-10-12 07:21] 2802harsh commented on #113
@Tlazypanda ma'am should I include a dark mode toggle also?? Or just let the webpage detect user preference as described in the resource.

[2020-10-12 07:28] Priyansh-09 commented on #88
I can fix the issues caused earlier

[2020-10-12 07:29] Priyansh-09 commented on #89
I can fix the issue caused earlier

[2020-10-12 07:32] Priyansh-09 commented on #112
Can I do this again ?
This issue is still assigned to me.

[2020-10-12 07:44] deepakDOTexe commented on #112
Yeah go on

[2020-10-12 08:34] kumarmanish03 commented on #45
@Tlazypanda Is it still open, if so assign to me please

[2020-10-12 08:36] atmanad commented on #110
Hey! Tlazypanda I want to work on this.

[2020-10-12 08:52] 2802harsh opened #134 "Background color property for certain elements not working properly"
# Bug Report

### Issue Summary
background-color property is not working for some elements like project and team cards, and they always inherit the global bg color.

### Expected Behavior
Elements for which bg color property is explicitly mentioned should follow this mentioned value of the property.

### Observed Behavior
global bg color inherited

[2020-10-12 09:01] uglyprincess commented on #134
@2802harsh please review 🙌🏻

[2020-10-12 11:12] Tlazypanda commented on #113
A toggle would be great!

[2020-10-12 12:04] kartikagarwal9 commented on #112
Can you assign me , i can contribute to it @deepakDOTexe

[2020-10-12 12:11] deepakDOTexe commented on #112
@kartikagarwal9 Sorry but it is already assigned to @Priyansh-09 . Check back later or claim other open issues.

[2020-10-12 12:12] kartikagarwal9 commented on #112
Ok Thanks @deepakDOTexe

[2020-10-12 13:00] Thilagavathi1 commented on #117
Have raised my [PR](https://github.com/Elevate-Lab/elevate-lab-website/pull/137).Please check this and let me know.

[2020-10-12 13:02] #99 closed

[2020-10-12 13:10] #110 closed

[2020-10-12 15:54] #134 closed

[2020-10-12 17:17] abhishekraj272 commented on #115
@Tlazypanda Can you assign this to me?

[2020-10-12 17:21] hardikbajaj commented on #115
@abhishekraj272  I am working on it!

[2020-10-12 19:38] Elemento24 commented on #90
Hey @deepakDOTexe Can you please review the changes. I have fixed the aforementioned bug. Turns out the scripts were commented.

[2020-10-12 20:45] #88 closed

[2020-10-12 22:27] stygian-96 opened #150 "Bug in contact us form UI"
# Bug Report

### Issue Summary

- Contact us form width shrinks too much when window resized to mobile view.
- Orientation of form is not proper
- Text color is not readable

### Expected Behavior

- Contact us should be responsive in a way it should have some minimum width.
- It should be properly aligned.

### Screenshots

#### Form width issue
![image](https://user-images.githubusercontent.com

[2020-10-12 22:33] rush-tea commented on #150
Can i work on this issue?

[2020-10-12 22:41] geeks5551 commented on #150
Hey @stygian-96  can i work on this issue?

[2020-10-13 05:51] crazy548 commented on #7
can l work on this.

[2020-10-13 05:54] Tlazypanda commented on #7
Hey @crazy548 this isssue is open for all go for it 🎉

[2020-10-13 05:54] crazy548 commented on #44
i would like to work on this.

[2020-10-13 05:57] geeks5551 commented on #44
Can i work on this @Tlazypanda ?

[2020-10-13 06:01] #89 closed

[2020-10-13 06:07] Shreesh90 commented on #150
@stygian-96 Please can I work on this issue ??

[2020-10-13 07:21] stygian-96 commented on #150
Go ahead @rush-tea

[2020-10-13 08:03] #90 closed

[2020-10-13 08:11] Shreesh90 commented on #150
@stygian-96 sorry I didn't see that you already assigned it to @rush-tea and started working on it 😶😶

[2020-10-13 08:24] Tlazypanda commented on #44
Closed via #78

[2020-10-13 08:24] #44 closed

[2020-10-13 08:35] Tlazypanda commented on #39
Closed via #85

[2020-10-13 08:35] #39 closed

[2020-10-13 08:38] Tlazypanda opened #155 "Link Contact us navbar link to Contact us section in home page"
# Feature Request

### Describe your problem
Link Contact us navbar link to Contact us section in home page. Currently it is not linked to anything.

[2020-10-13 08:45] Tlazypanda opened #156 "Make "meet the team" heading visible in mobile view"
# Feature Request

### Describe your problem
On navigating to mobile view, the meet the team text is not completely visible.

![image](https://user-images.githubusercontent.com/33183263/95837165-eb8df200-0d5d-11eb-8887-3286a6a0d12f.png)

[2020-10-13 08:45] Tlazypanda opened #157 "Make "projects" heading visible in mobile view"
# Feature Request

### Describe your problem
On navigating to mobile view, the projects text is not completely visible.

![image](https://user-images.githubusercontent.com/33183263/95837341-22fc9e80-0d5e-11eb-90d2-d5c0e08ed9bd.png)

[2020-10-13 08:48] tejma17 opened #158 "NavBar: Show selected section with a different styling"
Show the selected section with different styling. E.g. if you are on the Projects page, highlight "Projects" in the navbar.

[2020-10-13 08:56] geeks5551 commented on #158
@tejma17 can i work on this?

[2020-10-13 08:57] tejma17 commented on #158
Yes @geeks5551, you can.

[2020-10-13 08:59] geeks5551 commented on #158
pls assign me this issue @tejma17

[2020-10-13 09:29] uglyprincess opened #159 "Improve Style of Contact Us section"
# Feature Request

### Describe your problem

The Contact Us form on the home page could use some work. Currently it's not very appealing and there seem to be some redundant features.
![image](https://user-images.githubusercontent.com/57333555/95841702-4bd36280-0d63-11eb-8a90-072df1e73d7d.png)
As you can see, the form is neither left-aligned, nor right-aligned nor justified. It sits in this weird

[2020-10-13 09:30] geeks5551 commented on #159
@uglyprincess  can i work on this?

[2020-10-13 09:31] uglyprincess commented on #159
sure @geeks5551, go ahead! 🎉

[2020-10-13 09:33] geeks5551 commented on #159
@deepakDOTexe  assign me with  this issue?

[2020-10-13 09:59] hardikbajaj commented on #156
@Tlazypanda Can I make the changes in that particular tag only using style? Or I necessarily have to do styling in css file.

[2020-10-13 10:28] 2802harsh commented on #113
@Tlazypanda ma'am pls review the PR

[2020-10-13 10:36] Elemento24 commented on #156
Hey @hardikbajaj, @Tlazypanda  I am really sorry, I didn't know this thing had a separate issue. I thought it was quite similar to my issue, so I fixed it as well, alongside my Issue. I am really really sorry!

[2020-10-13 10:43] rush-tea commented on #159
@uglyprincess similar kind of issue has already been opened pls check #150 ....

[2020-10-13 10:43] hardikbajaj commented on #156
No problem. ; )

[2020-10-13 10:46] #157 closed

[2020-10-13 10:51] #102 closed

[2020-10-13 11:12] uglyprincess commented on #159
Due to potential merge conflicts, I'm closing this issue for now.

[2020-10-13 11:12] #159 closed

[2020-10-13 12:20] 2802harsh opened #163 "Navbar Background Issue"
# Bug Report

### The navbar background does not cover the whole width

The background color of the Navbar only spans across the width of the content and not the 100% page width. The issue is not quite visible in current background color. Change background color and you will notice the issue.

### Expected Behavior

The background color of Navbar should span the whole (100%) width of the page.

##

[2020-10-13 12:24] 2802harsh opened #164 "Navbar Title not vertically aligned"
# Bug Report

### The Navbar Title (Elevate Lab) is not *vertically* centered.

### Expected Behavior

The navbar title should be vertically in line with other navbar items

### Observed Behavior

See the screenshot below :
![Screenshot from 2020-10-13 17-53-23](https://user-images.githubusercontent.com/58396239/95860022-13d91900-0d7d-11eb-8c90-400d1ffcf63e.png)

[2020-10-13 12:27] thelavenderhue commented on #164
@2802harsh can I work on this?

[2020-10-13 12:38] geeks5551 commented on #163
@2802harsh can i work on this issue?

[2020-10-13 12:49] tejma17 commented on #164
@thelavenderhue go ahead :)

[2020-10-13 12:50] 2802harsh commented on #163
@geeks5551 Yeah! go ahead

[2020-10-13 12:52] geeks5551 commented on #163
@tejma17 @Tlazypanda pls assign me this issue

[2020-10-13 18:26] #150 closed

[2020-10-14 06:33] #155 closed

[2020-10-14 09:09] #118 closed

[2020-10-14 09:22] deepakDOTexe opened #170 "Add links to Event Page"

[2020-10-14 09:26] deepakDOTexe opened #171 "Design Learn Section and cards as mentioned in the workplan"

[2020-10-14 09:33] geeks5551 commented on #171
@deepakDOTexe can i work on this ?

[2020-10-14 09:37] kumarmanish03 commented on #171
@deepakDOTexe Can i wok on this ? I didn't get assigned to any of the issue in that repo

[2020-10-14 09:39] hardikbajaj commented on #156
@Tlazypanda ma'am, close this issue please

[2020-10-14 09:40] kumarmanish03 commented on #170
I want to work on it

[2020-10-14 09:40] deepakDOTexe commented on #171
@kumarmanish03 Go ahead @geeks5551 You already have 2 issues assigned.

[2020-10-14 09:41] deepakDOTexe commented on #170
@kumarmanish03 I have assigned you this issue.

[2020-10-14 10:15] #156 closed

[2020-10-14 10:15] Tlazypanda commented on #156
Hey @Elemento24 can you create an issue for @hardikbajaj to take up? :tada:

[2020-10-14 10:47] Elemento24 commented on #156
Hey @Tlazypanda , sure, I will do that...
Can you please close this one, Mam!

[2020-10-14 11:34] Elemento24 opened #176 "Add space between description and Logo of Elevate-Lab"
# Bug Report

### Issue Summary
There is almost Negligible Space between the Icon and the description of Elevate Lab, in portrait tablet aspect ratio, and below that

### Expected Behavior
There should be a considerable about of margin between those.

### Screenshots (if any)
![Screenshot from 2020-10-14 16-42-16](https://user-images.githubusercontent.com/58396433/95983453-40ee0000-0e3f-11eb-84c7-

[2020-10-14 11:35] Elemento24 commented on #176
Assigned to @hardikbajaj

[2020-10-14 11:39] Ranveer251 commented on #176
can I do this?

[2020-10-14 11:40] Tlazypanda commented on #176
Hey @Ranveer251 can you take up #40 since this issue is assigned to @hardikbajaj 😅

[2020-10-14 11:46] Ranveer251 commented on #176
ok

[2020-10-14 12:00] #113 closed

[2020-10-14 12:47] PrasannaBH commented on #40
Hey can i do this ?

[2020-10-14 13:02] geeks5551 commented on #163
okk i will do

[2020-10-14 15:05] #163 closed

[2020-10-14 16:07] VishakhaAwasthi01 commented on #171
any new issue that I can take?

[2020-10-14 16:31] 2802harsh opened #181 "Dark Mode Toggle Fails on root route"
# Bug Report

### Issue Summary

The css files dark.css and light.css have different relative paths w.r.t index.html and other html pages. index.js takes care of this only for the route '/index.html'. But the home page is also rendered on root '/' route of gh pages, and thus dark mode toggle has no effect there.
#### To notice the issue, go [here](https://elevate-lab.github.io/elevate-lab-website/

[2020-10-14 16:31] Ranveer251 commented on #181
can i do this?

[2020-10-14 16:56] 2802harsh commented on #181
@deepakDOTexe sir pls assign @Ranveer251 this issue

[2020-10-14 17:21] #114 closed

[2020-10-14 17:21] #115 closed

[2020-10-14 17:25] #164 closed

[2020-10-14 17:26] #45 closed

[2020-10-14 17:27] deepakDOTexe commented on #40
@PrasannaBH  this is open to all you can go ahead and work on this

[2020-10-15 11:57] #117 closed

[2020-10-15 12:12] deepakDOTexe opened #186 "Layout enhancement in Project page"
The project card rows have no padding between them. Fix this so that the rows are well seperated and cards don't overlap

![issue_new](https://user-images.githubusercontent.com/46655706/96120816-c095d080-0f0c-11eb-8fcf-8fa43de63bb5.png)

[2020-10-15 12:22] BLACK-PEARLL commented on #186
i want to do it ,please assign me @deepakDOTexe

[2020-10-15 12:40] #158 closed

[2020-10-15 20:19] mahendra9661 opened #194 "Clickjacking (UI Readdressing) https://elevate-lab.github.io/elevate-lab-website/"
1.Vulnerability name:  Clickjacking

2.Vulnerability Description:
Typically there is one type of attack - cross site request forgeries (CSRF) that can interact with functions on other websites.
Clickjacking (User Interface redress attack, UI redress attack, UI redressing) is a malicious technique of tricking a Web user into clicking on something different from what the user perceives they are clic

[2020-10-15 20:20] mahendra9661 commented on #194
Check this issue and let me know

[2020-10-16 10:04] Ranveer251 commented on #181
@deepakDOTexe sir pls review my PR and suggest any changes if required.

[2020-10-16 10:07] #112 closed

[2020-10-16 10:09] #181 closed

[2020-10-16 11:40] Ranveer251 opened #200 "Cards not rendered on team route for newer entries"
# Bug Report
Even after adding the details in the assets/data/data.json file, the cards corresponding to them are not rendered on the team route.
### Issue Summary
 **To notice the issue first see assets/data/data.json and then go [here](https://elevate-lab.github.io/elevate-lab-website/assets/html/team.html). You can clearly see that for the last three contributors a card is not rendered.**

###

[2020-10-16 11:41] Ranveer251 commented on #200
@Tlazypanda  can I want to work on this

[2020-10-16 13:48] pravdorin commented on #186
Is it possible to assign few people @BLACK-PEARLL ? I can make fix today.

[2020-10-16 14:24] Tlazypanda commented on #200
Hey @Ranveer251 nice catch :+1:  go ahead :tada:

[2020-10-16 14:40] hardikbajaj opened #207 "Dark Mode Toggle button hidden behind Nav Bar in mobile view"
# Bug Report

### Issue Summary

The Dark Mode toggle button is hidden behind the nav bar in the mobile view, also it is pushing the main content very much down.

### Observed Behavior
![WhatsApp Image 2020-10-16 at 20 05 22](https://user-images.githubusercontent.com/58038410/96272276-851e0380-0feb-11eb-9b5c-7b5e32cd67ba.jpeg)

[2020-10-16 14:43] 2802harsh commented on #207
I want to work on this.

[2020-10-16 15:14] BLACK-PEARLL commented on #186
i done it @deepakDOTexe  and also made a pull request :)

[2020-10-16 15:14] BLACK-PEARLL commented on #207
i want to work on this
please assign

[2020-10-17 03:54] achalesh27022003 commented on #171
can i take any new issue ?

[2020-10-17 03:55] achalesh27022003 commented on #207
Can I work on this please?

[2020-10-17 04:06] chuckyroh opened #211 ""Mixed Content" error in chrome related to Google Fonts"
# Bug Report

### Issue Summary

On Chrome, there is a "Mixed Content" error in the console when loading any page. Issue is that the page is served through https but the google font is served through http

### Expected Behavior

I expected no errors in Chrome.

### Observed Behavior

I observed that in the Chrome Dev console there was an error. Fonts not loaded on the page.

### Steps to Reproduce

[2020-10-17 04:09] chuckyroh commented on #211
Fix coming soon

[2020-10-17 04:39] chuckyroh opened #213 "CSS in Navbar on hover shifts unnaturally"
# Bug Report

### Issue Summary

When hovering on items in navbar, the element seems to shrink and pull up the underline and also the width goes a little short and longer.

### Expected Behavior

I expected only the background rectangle to appear without the underline, and without shifting the width.

### Observed Behavior

I observed that the active underline shifts up a little. And the width shi

[2020-10-17 04:40] chuckyroh commented on #213
Observed on Chrome browser

[2020-10-17 09:52] kumarmanish03 commented on #170
@deepakDOTexe  Which links is to be added on Events page. Is it to make a sample page having having two tabs and event 1 event 2 etc.( like Project Page)

[2020-10-17 10:02] kundanb commented on #211
I want to work on this issue.

[2020-10-17 10:06] kundanb commented on #213
I can fix it.

[2020-10-17 11:26] #200 closed

[2020-10-17 11:32] Tlazypanda commented on #194
@mahendra9661 go ahead :tada:

[2020-10-17 13:42] mahendra9661 commented on #194
please accept this and add hacktoberfest accepted label

[2020-10-17 14:04] mahendra9661 commented on #194
1.Vulnerability name: Clickjacking

2.Vulnerability Description:
Typically there is one type of attack - cross site request forgeries (CSRF) that can interact with functions on other websites.
Clickjacking (User Interface redress attack, UI redress attack, UI redressing) is a malicious technique of tricking a Web user into clicking on something different from what the user perceives they are click

[2020-10-17 14:05] mahendra9661 commented on #194
![Uploading Screenshot from 2020-10-15 18-42-47.png…]()

[2020-10-17 16:04] IC1101Virgo commented on #207
Assigned to @2802harsh

[2020-10-17 16:06] IC1101Virgo commented on #213
Assigned to @kundanb

[2020-10-18 05:43] #211 closed

[2020-10-19 05:35] #213 closed

[2020-10-19 11:13] deepakDOTexe commented on #170
@kumarmanish03 The nav bar menu item should take us to event page

[2020-10-19 11:16] deepakDOTexe commented on #171
@achalesh27022003 you can work on this as @kumarmanish03 has not made any updates on this

[2020-10-19 11:20] #207 closed

[2020-10-19 11:21] #186 closed

[2020-10-19 11:26] #176 closed

[2020-10-19 11:32] deepakDOTexe commented on #194
@mahendra9661 Did you make any pull request for this issue as I can't see it or anything that I may have missed it reg this convo.?

[2020-10-20 08:56] sidmirza4 opened #229 "Add some right padding in the last navbar link (contact)"
# Bug Report

### Issue Summary

There should be some padding left in the navbar.

A summary of the issue.

### Expected Behavior

I expected some more right padding in the right in contact item in navbar.

### Observed Behavior

I observed that ...

### Steps to Reproduce

1. Compile and run file with `python3 abc.py`
2. Goto ...

### Screenshots (if any)

I want to work on this issue.

[2020-10-20 10:44] kundanb commented on #229
I wanna work on it.

[2020-10-20 13:35] BLACK-PEARLL commented on #229
i want to work on this

[2020-10-20 16:56] #170 closed

[2020-10-21 15:43] Priyansh-09 opened #230 "Change Hover Effect in Light Mode"
# Bug Report

### Issue Summary

Currently in Light mode, hover effect of nav-links doesn't look good. Fix this issue.

### Screenshots (if any)

![WhatsApp Image 2020-10-21 at 21 11 39](https://user-images.githubusercontent.com/55129015/96744036-3ce35480-13e2-11eb-98bc-18618e7d1932.jpeg)

[2020-10-21 15:44] Priyansh-09 commented on #230
@Tlazypanda @tejma17 @deepakDOTexe I want to work on this.

[2020-10-21 15:50] Priyansh-09 opened #231 "Fix Event page for Light Mode"
# Bug Report

### Issue Summary

When Light mode is toggled, event page cards are not optimized for light mode. Fix this Issue.

### Screenshots (if any)

![Screenshot(2)](https://user-images.githubusercontent.com/55129015/96744854-1a057000-13e3-11eb-9ec5-93801ae894f8.png)

[2020-10-21 15:50] Priyansh-09 commented on #231
@Tlazypanda @tejma17 @deepakDOTexe I want to work on this.

[2020-10-21 16:16] tejma17 commented on #229
@kundanb go ahead. Sorry @Priyansh-09 @BLACK-PEARLL, @kundanb commented first.

[2020-10-21 16:17] tejma17 commented on #230
@Priyansh-09 you can work on this 👍

[2020-10-21 16:27] Mehul-12 opened #232 "Fix team and project colors in dark mode"
# Bug Report

### Issue Summary

A summary of the issue.

### Expected Behavior

I expected ...

### Observed Behavior

I observed that ...

### Steps to Reproduce

1. Compile and run file with `python3 abc.py`
2. Goto ...

### Screenshots (if any)

[2020-10-21 16:28] #232 closed

[2020-10-21 23:41] geeks5551 opened #234 "Fix The Toggle Button Position In Hamburger View"
# Bug Report

### Issue Summary

-As we can see from the screenshots attached in the issue section in the hamburger view(both in mobile or tab modes) the position of the Toggle Button Is Fluctuating. Fix its position at the top(i.e on the navbar beside the hamburger icon) as shown in the bottommost screenshot

### Screenshots of the issue

![Screenshot (3133)](https://user-images.githubusercontent

[2020-10-21 23:43] geeks5551 commented on #234
@deepakDOTexe @tejma17 @Tlazypanda
 Can i work on this issue?

[2020-10-21 23:54] geeks5551 opened #235 "Add The Toggle Button In The Event Page"
# Feature Request

### Describe your problem
-As we can see from the screenshot there is no toggle button in the event page . Add it In the event Page

### Screenshots(if any)
![Screenshot (3136)](https://user-images.githubusercontent.com/58395557/96802147-ddf3fe80-1426-11eb-829f-c7afb0d9a30b.png)

[2020-10-21 23:55] geeks5551 commented on #235
@tejma17 @deepakDOTexe @Tlazypanda
Can i work on this issue?

[2020-10-22 04:41] kumaraditya2002 commented on #234
cam i work on this issue??

[2020-10-22 04:42] BLACK-PEARLL commented on #235
can i work on this?
@deepakDOTexe @tejma17 @Tlazypanda

[2020-10-22 06:17] tejma17 commented on #235
@geeks5551 go ahead

[2020-10-22 06:34] tejma17 commented on #234
@geeks5551 for this we have to remove the title from navbar. 😅 I think the current position is good.

[2020-10-22 06:40] geeks5551 commented on #234
@tejma17 no sir , we can shift the toggle button to the navbar in the hamburger view  without the message(i.e light and the dark mode which is clearly understood and can be omitted for hamburger view) then it will be adjusted comfortably in the navbar,

[2020-10-22 06:44] tejma17 commented on #234
Alright @geeks5551 go ahead 👍

[2020-10-22 14:24] kumarmanish03 commented on #171
@deepakDOTexe  Hey I want to work on this (previously i am busy on Geekhaven repo issues)
I will surely make pr soon (as i completed almost half of it). Plz assign it to me

[2020-10-22 14:49] kumarmanish03 opened #238 "Dark Mode Toggle not working for Contact Section"
# Bug Report

### Issue Summary

    Dark Mode Toggle Button not working if we go to Contact Section (On clicking 'Contact' Navbar). You may go through the ss attached

### Expected Behaviour

Page should remain in Mode(dark/light) even after clicking Contact Navbar Link

### Screenshots (if any)

![Screenshot from 2020-10-22 20-17-03](https://user-images.githubusercontent.com/41566808/96888894-b5

[2020-10-22 14:50] kumarmanish03 commented on #238
I want to fix this Bug

[2020-10-22 16:45] kumarmanish03 opened #239 "Add Footer for Events Page"
# Feature Request

### Add a footer for the Events page

Footer must be the same as used in other pages of the site

![Screenshot from 2020-10-22 23-44-43](https://user-images.githubusercontent.com/41566808/96912986-b0f42a00-14c0-11eb-8920-0c1dfa9924c9.png)

[2020-10-22 16:46] kumarmanish03 commented on #239
I want to work on this

[2020-10-22 17:08] hardikbajaj opened #240 "Event page not light-mode frinedly"
# Bug Report

### Issue Summary

The contents of the light mode on the event page are not visible. So change the CSS of that page and try not to add the toggle functionality on that page for now as a different issue will be opened for that.
### Screenshots

![Screenshot from 2020-10-22 22-33-14](https://user-images.githubusercontent.com/58038410/96906212-222edf80-14b7-11eb-810e-fa1a60269663.png)

[2020-10-22 17:09] BLACK-PEARLL commented on #240
can i?

[2020-10-22 17:15] hardikbajaj opened #241 "Add Dark mode toggle button to the Events Page"
# Feature Request

### Describe your problem

The dark mode toggle functionality is not present on the Event page, add that button.
**Note- You are not required to make changes in the appearance of the website, even if icontents are not visible, as a different issue is opened for that**

[2020-10-22 17:16] hardikbajaj commented on #240
Yes, @BLACK-PEARLL go ahead...

[2020-10-22 17:16] BLACK-PEARLL commented on #241
can i?

[2020-10-22 17:18] #240 closed

[2020-10-22 17:18] #241 closed

[2020-10-23 14:09] IC1101Virgo commented on #238
Can I work on this?

[2020-10-23 14:09] IC1101Virgo commented on #239
Assigned to @kumarmanish03

[2020-10-23 14:10] IC1101Virgo commented on #238
@kumarmanish03 You have been assigned one of the issues :)

[2020-10-24 13:23] kmlhsn opened #245 "No Content Page for "Contribute" and "Learn""
# Bug Report

### Issue Summary
There is no content page for "Contribute" and "Learn"

A summary of the issue.

### Expected Behavior
There should have a Page with content for "Contribute" and "Learn" respectively

### Observed Behavior
There is no content page for "Contribute" and "Learn"

### Steps to Reproduce
1. Goto https://elevate-lab.github.io/elevate-lab-website/index.html
2.  Click on "Co

[2020-10-24 13:31] kmlhsn opened #246 ""Home" Page and "Contact Us" Page Shows Same Contents"
# Bug Report

### Issue Summary

"Home" and "Contact Us" shows same contents on the page.

### Expected Behavior

"Home" and "Contact Us" page should have different contents

### Observed Behavior

"Home" and "Contact Us" shows same contents on the page.

### Steps to Reproduce

1. Go to https://elevate-lab.github.io/elevate-lab-website/index.html
2. Click on "Home" and "Contact Us"

### Screensho

[2020-10-24 13:38] kmlhsn opened #247 ""Events","Contribute","Learn" and "Contact Us" are not active when they are clicked"
# Bug Report

### Issue Summary

"Events","Contribute","Learn" and "Contact Us" menu items are not active when they are clicked

### Expected Behavior
"Events","Contribute","Learn" and "Contact Us" should be active when they are clicked

### Observed Behavior

"Events","Contribute","Learn" and "Contact Us" menu items are not active when they are clicked
### Steps to Reproduce

1. Go to https://ele

[2020-10-24 13:49] kmlhsn opened #248 "Follow us links should have respective links"
# Bug Report

### Issue Summary
Follow us links--"Instagram","LinkedIn","twitter","Facebook","GitHub","YouTube" do not have respective links

### Expected Behavior

Follow us links--"Instagram","LinkedIn","twitter","Facebook","GitHub","YouTube" should have respective links

### Observed Behavior
Follow us links--"Instagram","LinkedIn","twitter","Facebook","GitHub","YouTube" do not have respective

[2020-10-24 17:16] #230 closed

[2020-10-25 06:07] #231 closed

[2020-10-25 06:07] #235 closed

[2020-10-25 08:47] hardikbajaj commented on #246
I think the page shifts to the **Contact us** section of Home page when we click on it. So that's not an issue

[2020-10-25 09:57] BLACK-PEARLL commented on #248
can i?

[2020-10-25 10:25] #234 closed

[2020-10-25 10:27] BLACK-PEARLL commented on #245
can i add a page with content learn?

[2020-10-25 10:29] BLACK-PEARLL commented on #248
can i?

[2020-10-25 15:03] hardikbajaj commented on #247
Can I work on this?

[2020-10-25 15:13] tejma17 commented on #248
Elevate lab doesn't have any social media handles right now.

[2020-10-25 15:13] #248 closed

[2020-10-25 15:13] #246 closed

[2020-10-26 07:33] #247 closed

[2020-10-27 09:29] hardikbajaj opened #257 "Event Page- Dark Mode UI Improvement"
# Bug Report

### Issue Summary

The contents on the event page are not clear in dark mode. Necessary changes in dark.css or style.css required

### Screenshots (if any)

![Screenshot from 2020-10-27 14-57-56](https://user-images.githubusercontent.com/58038410/97282582-d7b9b400-1864-11eb-9044-5b75177655c7.png)

[2020-10-27 09:32] BLACK-PEARLL commented on #257
can i?

[2020-10-27 18:45] hardikbajaj commented on #257
Assigned to @BLACK-PEARLL

[2020-10-28 11:56] IC1101Virgo commented on #239
Closing this issue as PR to this issue has been merged. 😄

[2020-10-28 11:56] #239 closed

[2020-10-30 15:01] Sushmitha004 commented on #245
Hi, I would like to work on this issue.

[2020-11-04 12:34] kmlhsn opened #259 "height size should be 100PX on "Event Name" logo on right side"
# Bug Report

### Issue Summary

"Event Name" logo on the right side is little high.

### Expected Behavior

The height of the div should be 100px, so it looks good

I expected ...
The height of the div should be less 150px. it is now 150px
### Observed Behavior

"Event Name" logo on the right side is little high.

### Steps to Reproduce

1.  Go to https://elevate-lab.github.io/elevate-lab-website

[2020-12-13 13:22] IC1101Virgo commented on #40
Closing this issue due to inactivity.

[2020-12-13 13:22] #40 closed

[2020-12-13 13:23] #238 closed

[2020-12-13 13:24] IC1101Virgo opened #260 "Add and updtae current website project page."
The current website project page needs to updated with latest info about the ongoing projects.

[2020-12-13 13:24] IC1101Virgo commented on #260
Assigning this to myself! 🍔

[2020-12-13 13:26] IC1101Virgo commented on #259
@hardikbajaj @garvitchittora  can you check this out? If not let me know we'll assign this to someone else. Thanks!

[2020-12-13 13:27] IC1101Virgo commented on #245
Closing due to inactivity.

[2020-12-13 13:27] #245 closed

[2020-12-13 13:29] IC1101Virgo commented on #7
Closing due to inactivity.

[2020-12-13 13:29] #7 closed

[2020-12-13 13:31] IC1101Virgo commented on #194
@Mah3Sec any updates?

[2020-12-13 13:33] IC1101Virgo commented on #257
@hardikbajaj @geeks5551 anyone would like to take this up? Let me know thanks!

[2020-12-13 13:34] IC1101Virgo commented on #171
@deepakDOTexe sir please check this out. If not required close the issue or assign it to someone. Thanks!

[2021-01-07 20:23] astromanish commented on #259
@IC1101Virgo can I work on this one?

[2021-10-08 07:30] amRohitKumar commented on #257
Can i work on this issue ?

[2021-10-09 06:45] ghost commented on #260
Hey, @IC1101Virgo I will update your current website Project Page. So will u please assign it to me?

[2021-10-09 06:48] ghost commented on #259
Hey, @IC1101Virgo I will Change the position of the logo of this Project. So will u please assign this issue to me?

[2021-10-29 07:46] VaishnaviJahagirdar3 commented on #171
Can I get assigned to any issue?

[2022-10-22 12:53] kritika902 commented on #259
hey!!! can u plz assign this to me i need it